body {
	font-size: 18px;
}
div.video {
	position:relative;
	width:100%;
}
div.video iframe{
	position:absolute;
	top:0; left:0;
	margin-left: 20px;
	width:90%;
	height:90%;
}
header {
	background-color: red;
}
img {
	width: 100%;
}
section#background,
section#personal,
section#social {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
@media screen and (min-width:1080px) {
  section#personal {
    grid-template-columns: 40% 1fr;
  }
  section#social {
    grid-template-columns: 1fr 40%;
  }
}
@media screen and (max-width: 670px) {
  section#social div.content{
    grid-row: 2;
    grid-column: 1;
  }
  section#social div.media-wrap{
    grid-row: 1;
    grid-column: 1;
  }
}

